<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        <% if(page.title !== undefined && page.title !== '') { %>
        <%= page.title %>
        <% } else { %>
        Plug and Play Search Solution for Websites, Mobile Apps and Enterprise Software | SearchTap
        <% } %>

    </title>

    <% if(page.description!== undefined){ %>
    <meta name="description" content="<%= page.description %>"/>
    <% } else {%>
    <meta name="description" content="<%= config.description %>"/>
    <% } %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

    <%- css(['css/bootstrap.css',
        'css/menu.css',
        'css/themify-icons.css',
        'css/flexslider.css',
        'css/lightbox.min.css',
        'css/intlTelInput.css',
        'css/ytplayer.css',
        'css/theme.css',
        'css/custom.css',
        'css/demo.css',
        'css/theme-custom.css'
        ]) %>


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          type="text/css" media="all"/>

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600'
          rel='stylesheet' type='text/css'>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <%- js('js/jquery.min.js') %>

    <%- partial('google-analytics') %>
