<body class="scroll-assist">

<%- partial('_partial/mobile-nav') %>

<div id="wrapper">

    <%- partial('_partial/header-nav') %>

    <div id="page-content-wrapper">

        <a href="<%- url_for('request-demo') %>" class="btn btn-sm btn-filled pull-right sales">Request Demo</a>

        <section id="blog">

            <%- partial('_partial/blog-header') %>

            <div class="main-container">

                    <%- page.content %>

            </div>

        </section>
    </div>

    <%- partial('_partial/leave-a-message') %>

    <%- partial('_partial/footer-nav') %>

</div>