<body class="scroll-assist">

<%- partial('_partial/mobile-nav') %>

<div id="wrapper">

    <%- partial('_partial/header-nav') %>

    <div id="page-content-wrapper">

        <a href="<%- url_for('request-demo') %>" class="btn btn-sm btn-filled pull-right sales">Request Demo</a>

        <div id="success-stories pb30">

            <%- page.content %>

            <div class="main-container client-column-wrap">
                <section class=" pt40 mb0 p32 pb30 ">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="row">
                            <div class="flex-boxes">

                            <% site.data.success_stories.forEach((story) => { %>

                            <div class="col-md-6">

                                <div class="client-info">
                                    <a href="<%- story.title %>/">

                                        <div class="client-info-img">

                                            <%- image_tag(`/img/success-stories/${story.thumb_image}`, {
                                                class: 'img-responsive'
                                            }) %>

                                            <span class="platform-logo-<%- story.logo_type %>">
                                                <%- image_tag(`/img/${story.platform}-logo.png`, {
                                                    class: 'img-responsive'
                                                }) %>
                                                </span>
                                        </div>

                                        <div class="client-info-txt hidden-xs hidden-sm">
                                            <p><%- story.about %></p>

                                            <div class="pull-right read-more-btn ">Read more
                                                <span class="cart">
                                                <img src="/img/right-blue-arrow.svg" alt="right blue arrow"
                                                     class="img-responsive"></span>
                                            </div>

                                        </div>

                                    <div class="client-info-gray">

                                        <% story.stats.forEach(stat=> { %>

                                            <div class="client-info-column">
                                                <h2>

                                                    <% if(stat.type === 'greater-than') { %>
                                                        <span class="arrow-greater-then">
                                                        <img src="/img/greater-than.svg"
                                                             class="img-responsive"> </span>
                                                    <% } %>

                                                    <%- stat.value %>

                                                    <% if (stat.type === 'positive') { %>
                                                        <span class="arrow-green">
                                                        <img src="/img/green-up-arrow.svg"
                                                             class="img-responsive"> </span>
                                                    <% } else if(stat.type === 'negative') { %>
                                                        <span class="arrow-red">
                                                        <img src="/img/red-down-arrow.svg"
                                                             class="img-responsive"> </span>
                                                    <% } %>
                                                </h2>
                                                <small><span class="stat-name"><%- stat.title %></span></small>
                                            </div>
                                        <% }) %>
                                    </div>

                                    <div class="read-more-btn hidden-md hidden-lg">
                                        <a href="<%- story.title %>/" class="read_more">Read more</a>
                                    </div>
                                    </a>

                                </div>
                            </div>

                            <% }) %>

                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
        
    </div>

    <%- partial('_partial/footer-nav') %>

</div>